/*.movies-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }

  .movies-grid {
    display: flex;
    flex-wrap: nowrap;
  }

  .movie-tile {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
  }

  .movie-card {
    width: 100%;
  }

  mat-card img {
    max-width: 100%;
    height: auto;
  }

  mat-card-content {
    padding: 10px;
  }

  mat-card h3 {
    font-size: 16px;
    margin: 0;
  }

  mat-card p {
    font-size: 14px;
    margin: 0;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/
/* favourites.component.css */
.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-tile {
  width: 200px;
}

.movie-card {
  position: relative;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
mat-card img {
  max-width: 100%;
  height: auto;
}

mat-card-content {
  padding: 10px;
}

mat-card h3 {
  font-size: 16px;
  margin: 0;
}

mat-card p {
  font-size: 14px;
  margin: 0;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
