
/* src/app/login/login.component.css  .login-container {
  margin:auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 400px;
} */
.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #673ab7, white);
}
h1{
  color: white;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #673ab7;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  letter-spacing: 2px;
}
.login-container {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
}

mat-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
}

mat-card-title {
  text-align: center;
}

mat-form-field.full-width {
  width: 100%; /* This makes the form fields take full width of the container */
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.additional-links {
  text-align: center;
  margin-top: 10px;
}

.additional-links p {
  margin: 0;
}

