/* src/app/register/register.component.css */
.register-background {
  background: linear-gradient(to bottom, #673ab7, white);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  max-width: 400px;
  width: 100%;
}

h1{
  color: white;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #673ab7;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  letter-spacing: 2px;
}

mat-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

mat-card-title {
  text-align: center;
}

mat-form-field.full-width {
  width: 100%; /* This makes the form fields take full width of the container */
  margin-bottom: 20px;
}


.actions {
  display: flex;
  justify-content: space-between;
}

.additional-links {
  text-align: center;
  margin-top: 10px;
}

.additional-links p {
  margin: 0;
}
