<!-- src/app/register/register.component.html -->
<div class="register-background">
  <div class="register-container">
    <mat-card>
      <h1>Register with Muzix</h1>
      <mat-card-content>

        <!-- Form -->
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

          <!-- User ID -->
          <mat-form-field class="full-width">
            <mat-label>User ID</mat-label>
            <input matInput formControlName="userId" required>
            <mat-error *ngIf="registerForm.get('userId')?.hasError('required')">
              User ID is required
            </mat-error>
          </mat-form-field>
          
          <!-- User Name -->
          <mat-form-field class="full-width">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="userName" required>
            <mat-error *ngIf="registerForm.get('userName')?.hasError('required')">
              User Name is required
            </mat-error>
          </mat-form-field>

          <!-- Password  -->
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
              Password must contain at least 8 characters, one uppercase letter, one lowercase letter, one number, and one special character.
            </mat-error>
          </mat-form-field>

          <!-- Email -->
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="userEmail" required>
            <mat-error *ngIf="registerForm.get('userEmail')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="registerForm.get('userEmail')?.hasError('pattern')">
              Enter a valid email. Email should not start with a number and should not have numbers after "&#64;".
            </mat-error>
          </mat-form-field>

          <!-- Image URL -->
          <mat-form-field class="full-width">
            <mat-label>Image URL</mat-label>
            <input matInput formControlName="imageUrl">
          </mat-form-field>

          <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
            <button mat-raised-button color="primary" routerLink="/login">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    
  </div>
</div>
