<div class="hero-section" style="background-image: url('https://images.pexels.com/photos/2563129/pexels-photo-2563129.jpeg?auto=compress&cs=tinysrgb&w=600');">
  <div class="hero-content">
    <h1>Welcome</h1>
    <p>Millions of Movies, TV Shows and People to discover. Explore Now.</p>
    <div class="search-container">
      <button mat-raised-button color="primary" (click)="navigateToSearch()">Search Movies</button>
    </div>
  </div>
</div>

<app-favourites></app-favourites>
<app-recommended></app-recommended>
