<mat-toolbar color="primary">
  <div class="toolbar-content">
    <h1 class="title" (click)="navigateToHome()">Muzix</h1>

    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search" [(ngModel)]="searchQuery" />
      <button mat-icon-button class="search-button" (click)="navigateToSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <button mat-button class="favorite-button" routerLink="/favorite-movies">Favorites</button>

    <span class="spacer"></span>

    <button *ngIf="isLoggedIn" mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
