<mat-toolbar color="primary">
  <div class="toolbar-content">
    <h1 class="title" (click)="navigateToHome()">Muzix</h1>

    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search" [(ngModel)]="searchQuery" />
      <button mat-icon-button class="search-button" (click)="navigateToSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <button mat-button class="favorite-button" (click)="navigateToFavorites()">Favorites</button>

    <span class="spacer"></span>

    <ng-container *ngIf="isLoggedIn">
      <button mat-icon-button class="profile-button" >
        <img *ngIf="currentUserProfile; else noProfileIcon" [src]="currentUserProfile" alt="Profile" class="profile-image">
        <ng-template #noProfileIcon>
          <mat-icon>account_circle</mat-icon>
        </ng-template>
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
