.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  letter-spacing: 2px;
}

.title:hover {
  transform: scale(1.1);
}

.spacer {
  flex: 1 1 auto;
}

.search-container {
  width: 50%;
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 20px;
}

.search-input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  background: none;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-button {
  margin-left: 50px;
  background: #fff;
  color: #673ab7 !important;
}

@media (max-width: 600px) {
  .search-container {
    width: 100%;
    margin-left: 10px;
  }

  .favorite-button {
    margin-left: 10px;
    background: #fff;
    color: #673ab7 !important;
  }
}

.profile-button {
  /* margin-right: 10px; */
  width: 75px;
  align-items: center;
  text-align: center;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: -12px 0px;
  /* object-fit: cover; */
}
